{% extends 'base.html.twig' %}
{# vue contenant le formulaire pour un changement de mot de passe #}
{% block title %}BecomeChef - Réinitialisation mot de passe
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<div class="row w-75 m-auto justify-content-center">
			<div class="col-6 text-center py-5 ">
				<h1 class="titres coloredText text-center fs-1">Réinitialisation mot de passe</h1>
				<div>
					{{ form_start(form_reset) }}
				<div class="field">
                    {{ form_label(form_reset.password.first) }}
					{{ form_widget(form_reset.password.first, {'attr' : {'class': 'formInput'}}) }}
                </div>
				<div class="field">
                    {{ form_label(form_reset.password.second) }}
					{{ form_widget(form_reset.password.second, {'attr' : {'class': 'formInput'}}) }}
                </div>
					<button class="btn FormSub w-50 text-dark fs-5 m-auto mt-2" type="submit">Envoyer</button>
					{{ form_end(form_reset) }}

				</div>
			</div>

		</div>
	</div>


{% endblock %}
