{% extends 'base.html.twig' %}
{# vue Pour l'inscription d'un utilisateur sur notre application #}
{% block title %}Register
{% endblock %}

{% block body %}
	<link rel="stylesheet" href="{{asset('css/inscription.css')}}">
	<div class="containerDiv">
		<header>Inscription</header>
		<div class="step-row">
			<div id="progress"></div>
			<div class="step-col">
				<small>Step 1</small>
			</div>
			<div class="step-col">
				<small>Step 2</small>
			</div>
			<div class="step-col">
				<small>Step 3</small>
			</div>
			<div class="step-col">
				<small>Step 4</small>
			</div>
		</div>
		<div
			class="form-outer">
			{# affichage du formulaire #}
			{{ form_start(registrationForm) }}
			<!-- page 1 -->
			<div class="page first-page">
				<div class="title">Quelle est votre adresse mail ?</div>
				<div class="field">
					{{ form_widget(registrationForm.email) }}
				</div>

				<div class="field btns">
					<button class="firstNext next">Next</button>
				</div>

			</div>
			<!-- page 2 -->
			<div class="page">
				<div class="title">Veuillez choisir un pseudo</div>
				<div class="field">
					{{ form_widget(registrationForm.pseudo) }}
				</div>
				<div class="field btns">
					<button class="prev-1 prev">Previous</button>
					<button class="next-1 next">Next</button>

				</div>
			</div>
			<!-- page 3 -->
			<div class="page">
				<div class="title">Voulez vous ajouter une photo ?</div>
				<div class="field ">
					{{ form_widget(registrationForm.photo,{'attr': {'class': 'photo-field'}}) }}
				</div>

				<div class="field btns">
					<button class="prev-2 prev">Previous</button>
					<button class="next-2 next">Next</button>

				</div>
			</div>
			<!-- page 4 -->
			<div class="page">
				<div class="title">Veuillez choisir un mot de passe</div>
				<div class="field">
					{{ form_widget(registrationForm.password, {
                    label: 'Password'
                }) }}
				</div>
				<div class="field btns">

					<button class="prev-3 prev">Previous</button>

					<button type="submit" class="btn btn-success">Inscription</button>
				</div>
			</div>


			{{ form_end(registrationForm, {render_rest: false}) }}
		</div>
	</div>
	<script src="{{asset('js/inscription.js')}}"></script>

{% endblock %}
{% block javascript %}
	<script src="{{asset('js/inscription.js')}}"></script>

{% endblock %}
