{% extends 'base.html.twig' %}
{# Vue pour l'affichage du formulaire d'ajout de recette pour un utilisateur  #}
{% block title %}
Ajouter une recette
{% endblock %}


{% block body %}
<div class="container-fluid  justify-content-center conteneurBox">
	<div class="row ">
		<h1 class="w-100 text-center titres fs-2">
			Ajoutez une recette</h1>

	</div>
	<div class="row w-75 justify-content-center m-auto conteneur p-3 mb-5 mt-3 petitConteneur">
		{{ form_start(form_recette) }}
	
		<div class="row my-2">
			{{ form_label(form_recette.titre) }}
			{{ form_widget(form_recette.titre, {'attr': {'class':'formInput m-auto' }}) }}
		</div>
		<div class="row my-2">
			{{ form_label(form_recette.temps) }}
			{{ form_widget(form_recette.temps, {'attr': {'class': 'formInput m-auto'}}) }}
		</div>
		<div class="row my-2">
			{{ form_label(form_recette.nbPersonnes) }}
			{{ form_widget(form_recette.nbPersonnes, {'attr': {'class': 'formInput m-auto'}} )}}
		</div>
		<div class="row my-2">
			{{ form_label(form_recette.preparation) }}
			{{ form_widget(form_recette.preparation, {'attr': {'class': 'formInput m-auto'}}) }}
		</div>
		<div class="row my-2">
			{{ form_label(form_recette.photo) }}
			{{ form_widget(form_recette.photo) }}
		</div>



		<div class="d-flex flex-wrap flex-row" id="ingredient-fields-list"
			data-prototype="{{ form_widget(form_recette.posseders.vars.prototype)|e }}"
			data-widget-tags="{{ '<div> </div>'|e }}" data-widget-counter="{{ form_recette.posseders|length }}"></div>

		<div class="row my-2 w-50 m-auto">
			<button type="button" class="add-another-collection-widget FormSub btn w-100 fs-5 mb-2"
				data-list-selector="#ingredient-fields-list">Ajouter
				Ingrédient</button>
			<button type="button" class="remove-another-collection-widget FormSub btn w-100  fs-5 mb-2"
				data-list-selector="#ingredient-fields-list">Supprimer Ingrédient</button>

		</div>

		<button type="submit" class="btn btn-success">Ajouter</button>
		{{ form_end(form_recette) }}
	</div>
</div>
<script src="{{asset('js/recette.js')}}"></script>

{% endblock %}