{% extends 'base.html.twig' %}
{# Vue pour une recette en particulier #}
{% block title %}
	BecomeChef -
	{{recette.titre}}
{% endblock %}

{% block body %}

	<div class="container-fluid  ">
		<div class="row conteneurBox">
			<h1 class="titres coloredText text-center fs-1">{{recette.titre}}</h1>
		</div>
		<div class="row conteneurBox">
			{% include "components/_userRecetteDetaille.html.twig" %}
		</div>
		<div class="row m-auto mb-3  conteneurBox">
			<div class="col-md-9 m-auto ">
				{% include "components/_ingredientList.html.twig" %}
			</div>
		</div>
		<div class="row fs-5  m-auto conteneurBox">
			<div class="col-12  w-75 m-auto my-5 ">
				<h3 class="titreRecette coloredText text-center bold">Preparation</h3>
			</div>
			<p class="preparations">{{recette.preparation}}</p>
		</div>

		<div class="row conteneurBox">
			{% for comment in comments %}
				{% include "components/_commentaires.html.twig" %}
			{% endfor %}
			<div class="row justify-content-center ">
				{{ knp_pagination_render(comments,'components/_pagination.html.twig') }}
			</div>
		</div>

		<div class="row conteneurBox">
			{% if app.user and app.user.etat == 0 %}
				{{ form_start(form_comm) }}
				<div class="col-6 m-auto text-center">

					{{form_widget(form_comm.commentaire,{'attr': {'class': 'formInput'}})}}
					<button type="submit" class="btn  FormSub w-50 fs-5 ">Ajouter commentaire</button>
				</div>

				{{ form_end(form_comm) }}
			{% endif %}

		</div>

	</div>
{% endblock %}
