{% extends 'base.html.twig' %}

{% block title %}Modifier une recette
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<h1>
			Form ajout recette</h1>

		{% form_theme update_recette 'bootstrap_5_layout.html.twig' %}
		{{ form_start(update_recette) }}
		{{ form_row(update_recette.titre) }}
		{{ form_row(update_recette.preparation) }}
		{{ form_row(update_recette.photo) }}
		{{ form_row(update_recette.intro) }}
		<div class="d-flex flex-wrap flex-row">
			{{ form_row(update_recette.ingredients) }}
		</div>


		<button type="submit" class="btn btn-success">Modifier</button>
		{{ form_end(update_recette) }}
	</div>

{% endblock %}
