{% extends 'base.html.twig' %}
{# Vue pour la modification d'une recette elle se base sur le meme systeme que celui de l'ajout d'une nouvelle recette
	sauf qu'en initialisant le formulaire , on complete les champs avec les informations deja presentes dans notre base
 #}
{% block title %}Modifier une recette
{% endblock %}

{% block body %}
<script src="{{asset('js/recette.js')}}"></script>
{# l'affichage du formulaire #}
{{ form_start(update_recette,{'attr': {'class': 'container w-50 m-auto p-3'}}) }}
<div class="row">
    <h1 class="w-100 text-center titres fs-2">Modifier une recette</h1>

</div>
<div class="row my-2">
    {{ form_label(update_recette.titre) }}
    {{ form_widget(update_recette.titre, {'attr': {'class':'formInput' }}) }}
</div>
<div class="row my-2">
    {{ form_label(update_recette.intro) }}
    {{ form_widget(update_recette.intro, {'attr': {'class': 'formInput'}}) }}
</div>
<div class="row my-2">
    {{ form_label(update_recette.preparation) }}
    {{ form_widget(update_recette.preparation, {'attr': {'class': 'formInput '}}) }}
</div>
<div class="row my-2">
    {{ form_label(update_recette.photo) }}
    {{ form_widget(update_recette.photo) }}
</div>


{# si on veut rajouter juste un champ, on utilise .nom-champ apres prototype #}
{# buttons pour l'ajout/suppression d'un ingredient #}
<div class="d-flex flex-wrap flex-row" id="ingredient-fields-list" data-prototype="{{ form_widget(update_recette.posseders.vars.prototype)|e }}" data-widget-tags="{{ '<div> </div>'|e }}" data-widget-counter="{{ update_recette.posseders|length }}">
  
</div>

<div class="row my-2 w-50 m-auto">
    <button type="button" class="add-another-collection-widget FormSub btn w-100 text-dark fs-5 mb-2" data-list-selector="#ingredient-fields-list">Ajouter
        Ingredient</button>
    <button type="button" class="remove-another-collection-widget FormSub btn w-100 text-dark fs-5 mb-2"
        data-list-selector="#ingredient-fields-list">Supprimer Ingredient</button>
    
</div>

<button type="submit" class="btn btn-success">Modifier</button>
{{ form_end(update_recette,{'render_rest': false}) }}

{# a supprimer  #}

{% endblock %}
