{% extends 'base.html.twig' %}

{% block title %}BecomeChef-Inspecter un Profil{% endblock %}
{# Template d'inspection de profil par un administrateur, Un administrateur a le droit d'inspecter les profils des autres utilisateurs #}

{% block body %}
{% if "ROLE_ADMIN" in  app.user.roles %}
<div class="container-fluid conteneur w-50 my-5 justify-content-center">
	<h1 class="titres coloredText text-center"> Inspection profil utilisateur</h1>
	<div class="row w-75 justify-content-center m-auto mt-5 ">
		<div class="col-6 text-center">
			{% if  utilisateur.photo %}
			<div class="w-100">
				<img src='{{ asset('uploads/'~ utilisateur.photo ) }}' alt='photo de profil'
					class="rounded-circle w-25 ">
			</div>
			{% else %}
			<div class="w-100">
				<img src='{{ asset('uploads/BecomeChefLogo.png' ) }}' alt='photo de profil'
					class="rounded-circle w-50 ">
			</div>
			{% endif %}
			<h4 class="titres pt-2">Profil de l'utilisateur
				<br>
				<hr>
			</h4>
			<h4 class=" titres">Pseudo: {{ utilisateur.pseudo }}</h4>
			<h4 class=" titres">Email : {{ utilisateur.email }}</h4>
			<h4 class=" titres">Etat : {{ utilisateur.etat == 0 ? 'Not Banned' : 'banned' }}</h4>
			<h4 class=" titres">Action: {% if utilisateur.etat == 0 %}

				<a href="{{ path('ban',{'id': utilisateur.id}) }}" class='btn btn-danger '>
					<i class="fas fa-ban"></i>
				</a>

				{% else %}
				<a href="{{ path('unban',{'id': utilisateur.id}) }}" class='btn btn-success'>
					<i class="fas fa-ban"></i>
				</a>

				{% endif %}

			</h4>

		</div>
	</div>
</div>
{% endif %}


{% endblock %}