{% extends 'base.html.twig' %}
{# Vue pour le contact d'un admin par un utilisateur #}
{% block title %}Hello ContactController!{% endblock %}

{% block body %}
{# on utilise le formulaire Contacttype qui se trouve dans src/Form #}

<div class="container w-25 h-75 d-flex justify-content-center m-auto mt-2 align-items-center " style="height: 50%;">
    
    {{ form_start(contact,{'attr': {'class': 'w-75'}}) }}
    <h1 class="w-100 text-center titres">Nous contacter</h1>
    <div class="row my-2  " > 
        {{form_label(contact.email)}}
        {{ form_widget(contact.email, {'attr': {'class':' w-100  border rounded ' ,'style': 'height:35px;'}}) }}
    </div>
    <div class="row my-2"> 
        {{form_label(contact.subject ,  )}}
        {{ form_widget(contact.subject, {'attr': {'class':' w-100  border rounded ','style': 'height:35px;'}}) }}
    </div>
    <div class="row my-2"> 
        {{form_label(contact.message)}}
        {{ form_widget(contact.message, {'attr': {'class':' w-100  border rounded '}}) }}
    </div>

    <button type="submit" class="FormSub btn w-100 text-dark fs-5" >Envoyer</button>
    {{ form_end(contact) }}
</div>
{% endblock %}