{% extends 'base.html.twig' %}
{# Vue pour le contact d'un admin par un utilisateur #}
{% block title %}BecomeChef-Contact{% endblock %}

{% block body %}
{# on utilise le formulaire Contacttype qui se trouve dans src/Form #}

    
    {{ form_start(contact,{'attr': {'class': 'container w-50 m-auto p-3 my-5'}}) }}
    <h1 class="titres coloredText text-center fs-1">Nous contacter</h1>
    <div class="row my-2" > 
        {{form_label(contact.email)}}
        {{ form_widget(contact.email, {'attr': {'class':'formInput m-auto' }}) }}
    </div>
    <div class="row my-2"> 
        {{form_label(contact.subject )}}
        {{ form_widget(contact.subject, {'attr': {'class':'formInput m-auto ' }}) }}
    </div>
    <div class="row my-2"> 
        {{form_label(contact.message)}}
        {{ form_widget(contact.message, {'attr': {'class':'formInput m-auto ' }}) }}
    </div>

    <button type="submit" class="FormSub btn w-100 text-dark fs-5" >Envoyer</button>
    {{ form_end(contact) }}
{% endblock %}