{% extends 'base.html.twig' %}
{# Vue pour le contact d'un admin par un utilisateur #}
{% block title %}BecomeChef-Contact{% endblock %}

{% block body %}
    <div class="container-fluid conteneurBox">
        <div class="row">
            <h1 class="w-100 text-center titres fs-2">Nous Contacter</h1>
    
        </div>
     <div class="row  w-75 justify-content-center m-auto conteneur p-3 mb-5 mt-3 petitConteneur">
        {{ form_start(contact) }}
        
        <div class="row my-2" > 
            {{form_label(contact.email)}}
            {{ form_widget(contact.email, {'attr': {'class':'formInput m-auto' }}) }}
        </div>
        <div class="row my-2"> 
            {{form_label(contact.subject )}}
            {{ form_widget(contact.subject, {'attr': {'class':'formInput m-auto ' }}) }}
        </div>
        <div class="row my-2"> 
            {{form_label(contact.message)}}
            {{ form_widget(contact.message, {'attr': {'class':'formInput m-auto ' }}) }}
        </div>
    
        <button type="submit" class="FormSub btn fs-5" >Envoyer</button>
        {{ form_end(contact) }}
     </div>
    </div>
  
{% endblock %}