{#
 COMPOSANT RECETTE DETAILLE 
 dans ce fichier on trouve l'affichage d'une recette pour un admin
 #}

<div class="container w-50">
	<span>
		<h3 class="titreRecette coloredText text-center bold">{{recette.titre}}</h3>
	</span>
	<div class="infos d-none d-md-flex align-items-center  justify-content-around my-3 shadow rounded w-75 m-auto ">
		<span class=" m-0 h-50">
			<i class="fas fa-calendar-alt "></i>
			{{recette.date|date("d/m/Y")}}</span>
		<span>Par
			{% if app.user and "ROLE_ADMIN" in  app.user.roles %}
				<a href="{{path('inspect_profil',{'id': recette.author.id})}}" class="anchorStyle coloredText ">{{recette.author.pseudo}}</a>
			{% endif %}
		</span>
	</div>
	<div class="img m-auto">
		<img src="{{ asset('uploads/'~ recette.photo) }}" class=" img m-auto rounded  align-center "
			alt="{{recette.titre}}">
	</div>
	<div class="intro">
		<i class="fas fa-clock"></i>
		{{recette.temps}}min
		 <i class="fas fa-users"></i> {{recette.nbPersonnes}} Personnes
	</div>
	<div class="btns text-center mt-auto ">
		{% if app.user   %}
		<a href="{{path('add_favori', {'id': recette.id})}}" class="btn btn-dark text-warning">
			<i class="fas fa-star"></i>
		</a>
		{% endif %}
		{% if app.user and "ROLE_ADMIN" in  app.user.roles  %}
		<a href="{{path('update_recette_admin', {'id': recette.id})}}" class="btn btn-warning">
			<i class="fas fa-edit text-light"></i>
		</a>

		<a href="{{path('delete_recette_admin', {'id': recette.id})}}" class="btn btn-danger"
			onclick="return confirm('Etez-vous sur de vouloir effacer la recette?'); ">
			<i class="fas fa-trash-alt"></i>
		</a>
		{% endif %}
	</div>
	
</div>
