
{# J'ai cree un component recette  car ca permet de reduire le code , au lieu de copier le meme bout dans chaque fichier recette. #}
{# 
COMPOSANT RECETTE SIMPLE
Dans ce fichier on trouve l'affichage d'une recette simple sur la page catalogue
 #}


<div class="card m-2 " style="width: 18rem;">
	<div class="infos d-flex justify-content-around">
		<p><i class="fas fa-calendar-alt "></i> {{recette.date|date("d/m/Y")}}</p>
		<p>Par 
		<b>
		{# on verifie bien qu'il est admin #}
			{% if app.user and is_granted('ROLE_ADMIN') %}
			{# si oui, le nom de l'auteur est clickable #}
				<a href="{{path('inspect_profil',{'id': recette.author.id})}}">{{recette.author.pseudo}}</a>

			{% else %}
				<b>{{recette.author.pseudo}}</b>
			{% endif %}
			</b>
		</p>
	</div>
	<div class="card-title ">
		<h4 class="card-title titreRecette">{{recette.titre}}</h4>
	</div>

	<div class="img m-auto d-flex justify-content-center align-items-center">

		<img src="{{ asset('uploads/'~ recette.photo) }}" class="card-img-top rounded-3 h-50  align-center "
			alt="{{recette.titre}}">
	</div>
	<div class="card-body">

		<p class="card-text intro"><i class="fas fa-clock"></i> {{recette.intro}}</p>
		<div class="btns text-center">
			<a href="{{path('show_recette', {'id': recette.id})}}" class="btn btn-primary"><i class="fas fa-eye"></i></a>
		{# on verifie que l'utilisateur est bien connecte et le proprio de la recette pour qu'il puisse voir les butons de modif ou suppression de la recette #}
		{% if app.user and is_granted('ROLE_ADMIN')  %}
		<a href="{{path('update_recette', {'id': recette.id})}}" class="btn btn-warning"><i class="fas fa-edit"></i></a>

		<a href="{{path('delete_recette', {'id': recette.id})}}" class="btn btn-danger"
			onclick="return confirm('Etez-vous sur de vouloir effacer la recette?'); "><i class="fas fa-trash-alt"></i></a>
		{% endif %}
		</div>
	</div>
</div>



