{# 
COMPOSANT COMMENTAIRE
Ce fichier contient le code pour l'affichage des commentaires d'une recette ainsi que le formulaire d'ajout de nouveau commentaire 
 #}

<div class="row w-75 d-flex flex-wrap m-auto collapse">
		<div class="col text-center">
			<div class="imgContainer w-100">
				{% if  comment.author.photo %}
				<img src='{{ asset('uploads/'~ comment.author.photo ) }}' style="width:100px " alt='photo de profil' class="rounded-circle ">
			{% else %}
				<img src='{{ asset('uploads/BecomeChefLogo.png' ) }}' style="width:100px;  " alt='photo de profil' class="rounded-circle  coloredBorder">
			{% endif %}
			</div>
			{% if app.user and is_granted('ROLE_ADMIN')  %}
				<b>
					<a href="{{path('inspect_profil',{'id': comment.author.id})}}">
						{{comment.author.pseudo}}
					</a>
				</b>
			{% else %}
				<b>{{comment.author.pseudo}}</b>
			{% endif %}
			{{comment.commentaire}}
			{% if app.user and ( app.user.id is same as (comment.author.id) and is_granted('ROLE_ADMIN') == false) %}
				<a href="{{path('delete_commentaire',{'id': comment.id, 'idR': recette.id} )}}">
					<i class="fas fa-trash-alt"></i>
				</a>
			{% endif %}

			{% if app.user and is_granted('ROLE_ADMIN')  %}
				<a href="{{path('delete_commentaire_admin',{'id': comment.id, 'idR': recette.id} )}}">
					<i class="fas fa-trash-alt"></i>
				</a>
				{% endif %}	
		</div>
</div>
