{# COMPOSANT DE LISTE D'INGREDIENTS
	Ce fichier contient le code necessaire a l'affichage de la liste d'ingredients
 #}

	<div class="row  w-75 m-auto my-2 ">
		<h3 class="titreRecette coloredText ">Ingredients</h3>
	</div>
	<div class="row flex-lg-row flex-column justify-content-around">
		{% for ingredient in recette.posseders %}
		
		<div class="col-lg-4  p-0 my-2 m-lg-2 text-center">
		
		<img src="{{ asset('uploads/'~ ingredient.ingredients.photo) }}" alt="{{ingredient.ingredients.nom}}" class="w-25 rounded rounded-circle">
			<p class="titres coloredText "><b>{{ingredient.ingredients.nom}}</b></p>
			{{ingredient.quantite}}
			

			{% if app.user and is_granted('ROLE_ADMIN') %}
			<a href="{{path('delete_ingredient_admin',{'id': ingredient.id})}}">
				<i class="fas fa-trash-alt"></i>
			</a>

			{% endif %}

			{% if app.user and app.user.id == recette.author.id and is_granted('ROLE_ADMIN')==false %}
			<a href="{{path('delete_ingredient',{'id': ingredient.id})}}">
				<i class="fas fa-trash-alt"></i>
			</a>
			{% endif %}
		</div>



		{% endfor %}

	</div>

