{# COMPOSANT NAVBAR
	Ce fichier contient le code necessaire a l'affichage de la navbar
	 #}

<header>

	<nav>
		<div class="container-fluid">
			<div class="row w-100 d-flex m-auto">

				<div class="col-md-4 d-flex flex-column flex-xl-row align-center ">
					<div class="col-lg-2 me-2 d-flex justify-content-center">
						<a class=" mb-0 text-center" href="#"><img src="{{asset('img/BecomeChefLogo.png')}}" width="70px" height="70px" class="rounded-circle align-self-center" alt="logo"></a>
					</div>
					<div class=" col d-flex flex-row  m-auto ">
						<ul class="d-flex  me-auto mb-2 mb-lg-0 list-unstyled">
							{% if app.user %}
							<li>
								<a class="nav-link " href="{{path('profile')}}">Profil</a>
							</li>
							{% endif %}

							<li>
								<a class="nav-link " href="{{path('home')}}">Home</a>
							</li>

							<li class="dropdown">
								<a href="#" class="nav-link dropdown-toggle" id="recetteMenu" role="button"
									data-bs-toggle="dropdown" aria-expanded="false">
									Recettes</a>
								<ul class="dropdown-menu" aria-labelledby="recetteMenu">
									<li>
										{# on verifie que l'utilsiateur est bien admin pour afficher le catalogue admin #}
										{% if app.user and "ROLE_ADMIN" in app.user.roles %}
										<a class="dropdown-item" href="{{path('recette_admin',{'page':1 })}}">Catalogue
											Admin</a>
										{# si il ne l'est pas, on affiche le catalogue  #}
										{% else %}
										<a class="dropdown-item" href="{{path('recette',{'page':1 })}}">Catalogue</a>
										{% endif %}
									</li>
									{% if app.user %}
									<li>

										{# s'il est connecte et qu'il est admin , on affiche les onglets admin #}
										{% if "ROLE_ADMIN" in app.user.roles %}
										<a class="dropdown-item" href="{{path('new_recette_admin')}}">Ajouter Admin</a>

										{# sinon l'onglet user #}
										{% else %}
										<a class="dropdown-item" href="{{path('new_recette')}}">Ajouter</a>
										{% endif %}
									</li>
									<li>
										<a class="dropdown-item" href="{{path('list')}}">Favoris</a>
									</li>
									{% endif %}
								</ul>
							</li>

							<li>
								<a class="nav-link " href="{{path('contact')}}">Contact</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-4 align-self-center ">
					<form class="d-flex" action="{{path('search',{'page':1 })}}">
						<input class="form-control mx-3" type="search" placeholder="Search" aria-label="Search"
							name="search_value">
						<button class="btn butonsNav" type="submit">Search</button>
					</form>
				</div>
				<div class="col-md-4 text-center text-md-end align-self-center my-3 ">
					{% if app.user %}

					<a href="{{path('app_logout')}}" class="btn butonsNav">deconexion</a>

					{# sinon on affiche l'inscription ou la connexion #}
					{% else %}

					<a href="{{path('app_register')}}" class="btn  butonsNav ">Register</a>


					<a href="{{path('app_login')}}" class="btn  mx-2 butonsNav">Login</a>


					{% endif %}

				</div>
			</div>

		</div>
	</nav>

</header>